
@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS14-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS14-ExtendedHeavyItalic.TTF') format('truetype');
}
